{% extends "base.layout.twig" %}

{% block title %}404 — Oups ! Cette page n'existe pas ! | Cédric Abt — Illustrateur{% endblock title %}

{% block bodyclass %}class="Error404"{% endblock bodyclass %}

{% block body %}
	<div class="txtcenter">
		<a href="{{ app.path(app.config.route.names.home) }}" title="Retour sur le site">
			<img src="{{ app.asset('/assets/img/404.jpg') }}" alt="404">
		</a>
	</div>
{% endblock body %}
