<!DOCTYPE html>

<!--
	design & code par rudy marc
	http://rgsone.com
-->

<!--[if IE 8]><html class="ie8" lang="fr"><![endif]-->
<!--[if gt IE 8]><!--><html lang="fr"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

	<title>{% block title %}{% endblock %}</title>

	<meta name="author" content="rgsone">
	<meta name="description" content="{{ block('title') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="{{ app.asset('/favicon.ico') }}">
	<link rel="stylesheet" href="{{ app.asset('/css/style.min.css') }}" media="all">

	<!--[if lt IE 9]><script src="{{ app.asset('/js/html5shiv.min.js') }}"></script><![endif]-->
</head>
<body {% block bodyclass %}{% endblock %}>
	{% block body %}{% endblock %}
	{% block js %}
	<!-- JS -->
	{# <script src="/js/vendor/vendor.min.js'"></script> #}
	{# <script src="'/js/app.min.js'"></script> #}
	{% endblock %}
</body>
</html>
