<!DOCTYPE html>
<!--

	      ___           ___           ___           ___           ___           ___
	     /\  \         /\  \         /\  \         /\  \         /\__\         /\  \
	    /::\  \       /::\  \       /::\  \       /::\  \       /::|  |       /::\  \
	   /:/\:\  \     /:/\:\  \     /:/\ \  \     /:/\:\  \     /:|:|  |      /:/\:\  \
	  /::\~\:\  \   /:/  \:\  \   _\:\~\ \  \   /:/  \:\  \   /:/|:|  |__   /::\~\:\  \
	 /:/\:\ \:\__\ /:/__/_\:\__\ /\ \:\ \ \__\ /:/__/ \:\__\ /:/ |:| /\__\ /:/\:\ \:\__\
	 \/_|::\/:/  / \:\  /\ \/__/ \:\ \:\ \/__/ \:\  \ /:/  / \/__|:|/:/  / \:\~\:\ \/__/
	    |:|::/  /   \:\ \:\__\    \:\ \:\__\    \:\  /:/  /      |:/:/  /   \:\ \:\__\
	    |:|\/__/     \:\/:/  /     \:\/:/  /     \:\/:/  /       |::/  /     \:\ \/__/
	    |:|  |        \::/  /       \::/  /       \::/  /        /:/  /       \:\__\
	     \|__|         \/__/         \/__/         \/__/         \/__/         \/__/


	design & code : rudy 'rgsone' marc
	http://rgsone.com

-->
<html lang="fr">
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

	<title>{% block title %}{% endblock %}</title>

	<meta name="author" content="rgsone">
	<meta name="description" content="{{ block('title') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<link rel="icon" href="{{ app.asset('/favicon.ico') }}">
	{% if not app.isDev() %}
	<link rel="stylesheet" href="{{ app.getCss() }}" media="all">
	{% endif %}

</head>
<body {% block bodyclass %}{% endblock %}>
	{% block body %}{% endblock %}
	{% block js %}
	<!-- JS -->
	<script src="{{ app.getJs() }}"></script>
	{% endblock %}
</body>
</html>
