/* 	======================================================================
		|	BASIC
		======================================================================
		====================================================================== */

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

html {
	/* IE9-IE11 math fixing > see http://bit.ly/1g4X0bX */
	font-size: calc( 1em * 0.625 );
}

body {
	font-family: 'Vollkorn', 'Georgia', Georgia, serif;
	font-size: $typoBaseSize;
	font-weight: $typoBaseWeight;
	line-height: $typoBaseLineHeight;
	color: $colorTypoBase;
	background-color: $colorBgBase;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	margin: 0;
	padding: 0;
}

ul,
ol {
	padding-left: 2rem;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
	border: 0;
}

em { font-style: italic; }
strong { font-weight: bold; }

figure { margin: 0; }

::selection {
	color: $colorSelectionTypo;
	background: $colorSelectionBg;
	text-shadow: none;
}

/*
* {
	word-wrap: break-word;
	hyphens: auto;
}
*/

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
	line-height: 1.5;
	margin-top: .75rem;
	margin-bottom: 0;
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
	margin-top: 0;
}

code,
pre,
samp,
kbd {
	font-family: Consolas, Monaco, 'Lucida Console', Courier, monospace;
	line-height: 1;
	white-space: pre-line;
}

a {
	display: inline-block;
	transition: transform 200ms ease;
	color: $colorTypoLink;
	font-weight: 600;
	text-decoration: none;

	&:focus,
	&:hover,
	&:active {
		transform: translate( 0, -.3rem );
		color: $colorTypoAltLinkHover;
	}
}

header,
section,
nav,
footer {
	overflow: hidden;
}
