/* 	======================================================================
		|	COMMONS
		======================================================================
		====================================================================== */


.w25 { width: 25%; }
.w50 { width: 50%; }
.w100 { width: 100%; }

.w1600p { max-width: 1600px; }
.w1100p {	max-width: 1100px; }

.wauto { width: auto; }

.center {
	margin-right: auto;
	margin-left: auto;
}

.hide { display: none !important; }

.txtcenter { text-align: center; }

.bold { font-weight: bold; }
.bolder { font-weight: 900; }
.italic { font-style: italic; }

.uppercase { text-transform: uppercase; }


