/*! cedricabt.com | @author rgsone | @url rgsone.com */
/*	======================================================================
		======================================================================
		|
		|		    ___           ___           ___           ___           ___           ___
		|	     /\  \         /\  \         /\  \         /\  \         /\__\         /\  \
		|	    /::\  \       /::\  \       /::\  \       /::\  \       /::|  |       /::\  \
		|	   /:/\:\  \     /:/\:\  \     /:/\ \  \     /:/\:\  \     /:|:|  |      /:/\:\  \
		|	  /::\~\:\  \   /:/  \:\  \   _\:\~\ \  \   /:/  \:\  \   /:/|:|  |__   /::\~\:\  \
		|	 /:/\:\ \:\__\ /:/__/_\:\__\ /\ \:\ \ \__\ /:/__/ \:\__\ /:/ |:| /\__\ /:/\:\ \:\__\
		|	 \/_|::\/:/  / \:\  /\ \/__/ \:\ \:\ \/__/ \:\  \ /:/  / \/__|:|/:/  / \:\~\:\ \/__/
		|	    |:|::/  /   \:\ \:\__\    \:\ \:\__\    \:\  /:/  /      |:/:/  /   \:\ \:\__\
		|	    |:|\/__/     \:\/:/  /     \:\/:/  /     \:\/:/  /       |::/  /     \:\ \/__/
		|	    |:|  |        \::/  /       \::/  /       \::/  /        /:/  /       \:\__\
		|	     \|__|         \/__/         \/__/         \/__/         \/__/         \/__/
		|
		|
		|		cedricabt.com
		|
		|		@author rudy marc
		|		@contact rgs@rgsone.com
		|		@url http://rgsone.com
		|
		======================================================================
		====================================================================== */

/*	== libs ===========================================
		=================================================== */

@import "~normalize.css";

/*	== var ============================================
		=================================================== */

$colorBgBase: #fff8ec;
$colorBgAlt: #fffcf5;
$colorBg404: #f0e6da;
$colorBgNavLinkActive: #e9e4d5;

$colorTypoBase: #3c2e24;
$colorTypoLink: #3c2e24;
$colorTypoLinkHover: #b0a59d;
$colorTypoAltLinkHover: #000;

$colorSelectionBg: #3c2e24;
$colorSelectionTypo: #fffcf5;

$colorSeparatorAltMenu: #cfccc5;

$typoBaseSize: 1.8rem;
$typoBaseWeight: 400;
$typoBaseLineHeight: 1.5;

/*	== includes =======================================
		=================================================== */

@import "includes/helpers";

/*	== styles =========================================
		=================================================== */

@import "app/commons";
@import "app/font";
@import "app/base";

@import "app/pages/home";
@import "app/pages/content";
@import "app/pages/alt";
@import "app/pages/project";
@import "app/pages/404";
